[submodule "vifm-colors"]
    path = config/vifm/colors
    url = https://github.com/vifm/vifm-colors.git
[submodule "vifm/colors"]
	path = config/vifm/colors
	url = https://github.com/vifm/vifm-colors.git
[submodule "vifm/vifm_devicons"]
	path = config/vifm/vifm_devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "qutebrowser/dracula"]
	path = config/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
