! [[file:Desktop.org::*Xresources][Xresources:2]]
*color0: #292d3e
*color1: #f07178
*color2: #c3e88d
*color3: #ffcb6b
*color4: #82aaff
*color5: #c792ea
*color6: #89ddff
*color7: #d0d0d0
*color8: #434758
*color9: #ff8b92
*color10: #ddffa7
*color11: #ffe585
*color12: #9cc4ff
*color13: #e1acff
*color14: #a3f7ff
*color15: #ffffff


*background: #292d3e
*foreground: #d0d0d0
! Xresources:2 ends here
