snippet qinit "def __init__(self, parent=None)"
def __init__(self, parent=None):
	super().__init__(parent)
	$0

endsnippet


snippet forl "[action for item in iterable]"
[$1 for $2 in $3]
$0
endsnippet
